$primary-green: #02B7A8;
$primary-blue: #003399;
$gray: #6E6E6E;
$light-gray: #B2B2B2;
$white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');