*,::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

*{
    &:focus{
        outline: none !important;
    }
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}